/* Estilos para a barra de menus */
ul.menu-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    overflow: hidden;
    /* Adicione as propriedades de flexbox para centralizar */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Defina uma altura máxima para evitar que a barra de rolagem apareça em telas grandes */
    max-height: 60px; /* Ajuste conforme necessário */
    /* Ative a rolagem horizontal apenas quando necessário */
    overflow-x: auto;
}

ul.menu-bar li {
    margin: 0 5px; /* Espaçamento entre os itens do menu */
}

ul.menu-bar li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px; /* Reduza o tamanho dos itens do menu */
    text-decoration: none;
}

ul.menu-bar li a:hover {
    background-color: #555;
}

ul {
    text-align: left;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: grid;
    grid-gap: 10px;
}

label {
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-top: 4px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#resultado {
    margin-top: 20px;
    padding: 10px;
    border-radius: 4px;
    background-color: #dff0d8;
    color: #3c763d;
}
