/* Estilos para a barra de menus */
ul.menu-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul.menu-bar li {
  text-align: center;
  padding: 10px;
}

ul.menu-bar li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  text-decoration: none;
}

ul.menu-bar li a:hover {
  background-color: #555;
}

/* Estilos para informações do autor */
.author {
  display: block;
  text-align: center;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.profile-image {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.author-info {
  margin-top: 10px;
  text-align: center;
}

/* Estilos para o formulário */
form {
  max-width: 400px; /* Define uma largura máxima para o formulário */
  margin: 0 auto; /* Centralize horizontalmente */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centralize verticalmente */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

textarea {
  resize: vertical;
}

input[type="submit"] {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 3px;
  cursor: pointer;
  width: 100%;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

/* Media query para dispositivos móveis */
@media screen and (max-width: 768px) {
  ul.menu-bar {
    flex-direction: column;
    align-items: flex-start;
  }

  ul.menu-bar li {
    padding: 5px 0;
  }

  .profile-image {
    width: 50px;
    height: 50px;
  }
}
