/* Estilos para a barra de menus */
ul.menu-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  overflow-x: auto; /* Adicione rolagem horizontal */
  white-space: nowrap; /* Evite que os itens quebrem para a próxima linha */
  display: flex;
  justify-content: center;
  align-items: center;
}

ul.menu-bar li {
  text-align: center;
  padding: 10px;
}

ul.menu-bar li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  text-decoration: none;
}

ul.menu-bar li a:hover {
  background-color: #555;
}

/* Estilos para informações do autor */
.author {
  display: block;
  text-align: center;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.profile-image {
  border-radius: 50%;
  width: 100px; /* Reduza o tamanho da imagem */
  height: 100px; /* Reduza o tamanho da imagem */
  object-fit: cover;
}

.author-info {
  margin-top: 10px;
  text-align: center;
}

/* Estilos para o formulário */
form {
  max-width: 100%; /* Ocupa toda a largura da tela */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px; /* Ajuste o tamanho da fonte para melhor legibilidade */
}

textarea {
  resize: vertical;
}

input[type="submit"] {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 3px;
  cursor: pointer;
  width: 100%; /* Ocupa toda a largura da tela */
}

input[type="submit"]:hover {
  background-color: #0056b3;
}
